.top-div {
background-color:black;
width: 99vw;
height: 25vh;
}

.navigation-div {
background-color:aqua;
width: 99vw;
height: 25vh;
}

.content-div {
background-color: crimson;
width: 99vw;
height: 20vh;
}

.quote-div {
background-color: darkkhaki;
width: 99vw;
height: 20vh;
}

.Intro-blurb {
background-color: brown;
width: 99vw;
height: 20vh;
}

.Page-infomation {
background-color: darkblue;
width: 99vw;
height: 20vh;
}

.fouter {
background-color: chartreuse;
width: 99vw;
height: 20vh;
}


