.top-div {
background-color:black;
width: 99vw;
height: 20vh;
}

.navigation-div {
background-color:aqua;
width: 99vw;
height: 20vh;
}

.content-div {
background-color: crimson;
width: 99vw;
height: 20vh;
}

.quote-div {
background-color: darkkhaki;
width: 99vw;
height: 20vh;
}





